<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Map Descriptor</h1>
    <div class="folium-map">
        <iframe id="map-iframe" class="map", src="/map"></iframe>
    </div>

    <div class="description">
        <p>
            Você está visualizando uma área de tamanho aproximado de X no sentido leste-oeste, e Y no sentido norte-sul.
Esta região está contida no Brasil e abrange partes do Nordeste incluindo os estados RN, PB, PE, AL, CE, BA.
Aqui você vai encontrar (lista de POIs mais importantes).
Para um trajeto de carro de uma extremidade a outra estima-se um tempo médio de X horas.

        </p>
    </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script>
    function send_bbox() {
        $.ajax({
                    url:"/test",
                    type:"POST",
                    contentType: "application/json",
                    data: JSON.stringify(map_909f964ddc5c99b489150dd967195fd9.getBounds())
        });

    }
</script>


</body>
</html>