<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Map Descriptor</h1>

    <div id="main">
        <div class="folium-map">
            <iframe id="map-iframe" class="map" , src="/map"></iframe>
        </div>
    
        <button id="update">Atualizar</button>
    
        <div class="description">
            <p id='p-text-description'>
            </p>
        </div>
    </div>

    

    <script>
    window.onload = function () {
        // getData()
        document.getElementById("update").onclick = getData

        function getData() {
            const contentWindow = document.getElementById('map-iframe').contentWindow
            let mapKey

            Object.keys(contentWindow).forEach((key) => {
                if (key.startsWith("map")) {
                    mapKey = key
                }
            })
            const mapa = contentWindow[mapKey]
            //let bounds = mapa.getBounds()
            //let [north, east] = [bounds['_northEast']['lat'], bounds['_northEast']['lng']]


            fetch("/map_bbox", {
            method: "POST",
            body: JSON.stringify(mapa.getBounds()),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            }).then(res => res.json())
            .then(data => data['text'])
            .then(text => document.getElementById('p-text-description').innerHTML = text)
                // document.getElementById('p-text-description').innerHTML = res;
        }
        
    }
    </script>


</body>

</html>